{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "sakeenah",
  "main": "./src/server/index.js",
  "compatibility_date": "2025-11-17",
  "assets": {
    "directory": "./dist",
    "binding": "ASSETS",
    "html_handling": "auto-trailing-slash",
    "not_found_handling": "single-page-application",
  },
  "compatibility_flags": ["nodejs_compat"],
  "vars": {
    "PORT": "3000",
    "DATABASE_URL": "postgresql://postgres@localhost:5432/inv_v2"
  },
  "routes": [
    {
      "pattern": "invitation.yourdomain.com",
      "custom_domain": true
    },
  ],
}
